body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ECECEC;
}

.form {
    width: 100%;
    max-width: 15rem;
    padding: 15px;
    margin: auto;
}

.form-text {
    max-width: 50rem;
}

.form-login {
    max-width: 10rem;
}

#code_input {
    max-height: 2rem;
}