<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple File Transfer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <div class="container text-center">  
        <form class="form" method=post>
            <h3 class="h3 mb-3 fw-normal">Session Login</h3>
            <div class="mb-3 form-floating">
                <input type="text" name="code" class="form-control" id="code_input">
                <label for="code_input">Session Code</label>
            </div>
            <button type="submit" class="w-100 btn btn-primary">Login</button>
        </form>

        <form class="form" id="uploadfile" method=post enctype=multipart/form-data>
            <h3 class="h3 mb-3 fw-normal">Upload File</h3>
            <div class="mb-3 form-floating">
                <input class="mb-3 form-control-file" type=file name=file>
                <button type="submit" id="uploadbtn" class="w-100 btn btn-primary">Upload</button>
            </div>
        </form>

        <h3 class="h3 mb-3 fw-normal">Upload Text</h3>
        <form class="form form-text" method=post id="textupload">
            <div class="mb-1 form-floating">
                <input type="text" name="user_text" class="form-control" id="text_input">
                <label id="text_label" for="text_input">Enter Text</label>
            </div>

            <button type="submit" class="w-50 btn btn-secondary btn">Upload</button>  
        </form>    
        <footer>06/12/21 18:55</footer>
    </div>

    <script>
        $(document).ready(function() { // Runs when document is loaded
            $("#uploadfile").submit(function (event) { // When file form is submitted, capture file and create form data object
                $("#uploadbtn").html("Uploading");
                $("#uploadbtn").css("background-color", "red");
                var file = $("#uploadfile")[0];
                var formData = new FormData(file); 
                $.ajax({ // Send AJAX request
                    type: "POST",
                    url: "/upload/0",
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function(response) { // If successful, remove current list and rebuild list with new files
                    	 window.location.replace("/session/"+response["sessionCode"]); // Redirect to session
                    },
                    error: function(response) {
                        console.log(response);
                    }
                })
                event.preventDefault();
            })

            $("#textupload").submit(function (event) { // When form is submitted, upload text
                user_text = $("#text_input").val();
                console.log(user_text);
                if (user_text.length > 0){
                    $.ajax({ // Send AJAX request
                    type: "POST",
                    url: "/upload/0",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify({"user_text": user_text}),
                    success: function(response) { // If successful, remove current list and rebuild list with new files
                        window.location.replace("/session/"+response["sessionCode"]); // Redirect to session
                    },
                    error: function(response) {
                        console.log(response);
                    }
                })
                }
                else {
                    $("#text_label").html("No text entered");
                }
                event.preventDefault();
            })
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
